.context-dark .brand .brand-logo-dark, .bg-gray-700 .brand .brand-logo-dark, .bg-gray-3 .brand .brand-logo-dark, .bg-brown-1 .brand .brand-logo-dark, .bg-primary .brand .brand-logo-dark {
    display: none;
}

.context-dark .brand .brand-logo-light, .bg-gray-700 .brand .brand-logo-light, .bg-gray-3 .brand .brand-logo-light, .bg-brown-1 .brand .brand-logo-light, .bg-primary .brand .brand-logo-light {
    display: block;
}

/*
* Light Backgrounds
*/
.bg-default {
    background-color: #ffffff;
}

.bg-primary {
    background-color: #0473db;
}

.bg-secondary {
    background-color: #f8ea49;
}

.bg-gray-1 {
    background-color: #eff3f8;
}

.bg-gray-100 {
    background-color: #e1e1e1;
}

.bg-gray-600 {
    background-color: #777777;
}

.bg-gray-800 {
    background-color: #151515;
}

.bg-gray-1 {
    background-color: #eff3f8;
}

.bg-gray-2 {
    background-color: #ebebeb;
}

.bg-gray-4 {
    background-color: #f9faf9;
}

.bg-gray-11 {
    background-color: #586167;
}

.bg-gray-13 {
    background-color: #404147;
}

/*
* Dark Backgrounds
*/
.bg-gray-700 {
    background-color: #2c343b;
}

.bg-gray-3 {
    background-color: #464a4c;
}

.bg-brown-1 {
    background-color: #555552;
}

/*
* Accent Backgrounds
*/
.bg-primary + .bg-primary {
    padding-top: 0;
}

/*
* Background Image
*/
.bg-image {
    background-size: cover;
    background-position: center center;
}

[class*='bg-'] {
    background-size: cover;
    background-position: center center;
}

@media (min-width: 992px) {
    html:not(.tablet):not(.mobile) .bg-fixed {
        background-attachment: fixed;
    }
}

@media (min-width: 992px) {
    .bg-image-1 {
        background-image: url(../../../images/bg-index-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #eff3f8;
        position: relative;
    }
    .bg-image-1::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.bg-image-2::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 45px;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: #0473db;
    background-image: url(../../../images/bg-about-1.jpg);
    z-index: -1;
}

.bg-image-3 {
    background-image: url(../../../images/bg-pattern-2.jpg);
    background-repeat: repeat;
    background-size: auto;
    background-color: #f5f5f5;
}

.bg-image-4 {
    position: relative;
}

.bg-image-4::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

@media (min-width: 576px) {
    .bg-image-4::before {
        display: none;
    }
}

.bg-image-5 {
    background-image: url(../../../images/bg-pattern-3.jpg);
    background-repeat: repeat;
    background-size: auto;
    background-color: #404147;
}

.bg-image-6 {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: calc( 50% + 45px);
    height: 100%;
    pointer-events: none;
    transform: translate3d(0, 0, 0);
    z-index: -1;
}

.bg-image-7 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc( 50% + 45px);
    background-position-x: 90%;
    z-index: -2;
}

@media (min-width: 576px) {
    .bg-image-6,
    .bg-image-7 {
        display: block;
    }
}

.image-decor-wrap {
    position: relative;
    overflow: hidden;
}

.image-decor-left,
.image-decor-right {
    position: absolute;
    bottom: 0;
}

.image-decor-left {
    right: 70%;
}

.image-decor-right {
    left: 70%;
}

@media (min-width: 768px) {
    .image-decor-left {
        left: -12%;
        right: auto;
    }
    .image-decor-right {
        right: -12%;
        left: auto;
    }
}

@media (min-width: 1200px) {
    .image-decor-left {
        left: -10%;
    }
    .image-decor-right {
        right: -10%;
    }
}

@media (min-width: 1500px) {
    .image-decor-left {
        left: 0;
    }
    .image-decor-right {
        right: 0;
    }
}
