.breadcrumbs-custom {
    position: relative;
    text-align: center;
}

.breadcrumbs-custom-body {
    display: flex;
    align-items: center;
    min-height: 24.84375vw;
    padding: 40px 0;
    background-color: transparent;
    background-position: center;
}

.breadcrumbs-custom-title {
    text-shadow: 3px 9px 16px rgba(0, 0, 0, 0.18);
}

.breadcrumbs-custom-text {
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    letter-spacing: .025em;
    color: rgba(255, 255, 255, 0.7);
}

.breadcrumbs-custom-footer {
    padding: 15px 0;
    background: #f9faf9;
}

.breadcrumbs-custom-path {
    margin-left: -17px;
    margin-right: -17px;
}

.breadcrumbs-custom-path > * {
    padding-left: 17px;
    padding-right: 17px;
}

.breadcrumbs-custom-path a {
    display: inline;
}

.breadcrumbs-custom-path a, .breadcrumbs-custom-path a:active, .breadcrumbs-custom-path a:focus {
    color: #777777;
}

.breadcrumbs-custom-path li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    line-height: 2;
    font-weight: 600;
    letter-spacing: .13em;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
}

.breadcrumbs-custom-path li::after {
    display: inline-block;
    position: absolute;
    content: "ÔÖè";
    top: 45%;
    right: 0;
    font-size: 14px;
    line-height: 1.72;
    font-family: "Material Design Icons";
    color: #151515;
    transform: translate3d(50%, -50%, 0);
}

.breadcrumbs-custom-path li:last-child:after {
    display: none;
}

.breadcrumbs-custom-path a:hover,
.breadcrumbs-custom-path li.active {
    color: #151515;
}

* + .breadcrumbs-custom-path {
    margin-top: 14px;
}

@media (min-width: 576px) {
    .breadcrumbs-custom-body {
        padding: 70px 0;
    }
}

@media (min-width: 768px) {
    * + .breadcrumbs-custom-text {
        margin-top: 20px;
    }
}

@media (min-width: 992px) {
    .breadcrumbs-custom-body {
        padding: 100px 0;
    }
    * + .breadcrumbs-custom-text {
        margin-top: 30px;
    }
}

.ie-10 .breadcrumbs-custom-body,
.ie-11 .breadcrumbs-custom-body,
.ie-edge .breadcrumbs-custom-body {
    height: 24.84375vw;
}
