.button {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 4px 17px;
    font-size: 14px;
    line-height: 2;
    border: 2px solid;
    border-radius: 6px;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
    transition: all 250ms ease-in-out;
}

@media (min-width: 768px) {
    .button {
        padding: 9px 29px;
    }
}

@media (min-width: 992px) {
    .button {
        padding: 14px 34px;
    }
}

.button-block {
    display: block;
    width: 100%;
}

.button-default, .button-default:focus {
    color: #cccccc;
    background-color: #2c343b;
    border-color: #2c343b;
}

.button-default:hover, .button-default:active {
    color: #ffffff;
    background-color: #0473db;
    border-color: #0473db;
}

.button-default.button-ujarak::before {
    background: #0473db;
}

.button-default.button-zakaria:after {
    background: #2c343b;
}

.button-gray-100, .button-gray-100:focus {
    color: #151515;
    background-color: #e1e1e1;
    border-color: #e1e1e1;
}

.button-gray-100:hover, .button-gray-100:active {
    color: #151515;
    background-color: #d4d4d4;
    border-color: #d4d4d4;
}

.button-gray-100.button-ujarak::before {
    background: #d4d4d4;
}

.button-gray-100.button-zakaria:after {
    background: #e1e1e1;
}

.button-primary, .button-primary:focus {
    color: #ffffff;
    background-color: #f8ea49;
    border-color: #f8ea49;
}

.button-primary:hover, .button-primary:active {
    color: #151515;
    background-color: #0473db;
    border-color: #0473db;
}

.button-primary.button-ujarak::before {
    background: #0473db;
}

.button-primary.button-zakaria:after {
    background: #f8ea49;
}

.button-primary-2, .button-primary-2:focus {
    color: #ffffff;
    background-color: #0473db;
    border-color: #0473db;
}

.button-primary-2:hover, .button-primary-2:active {
    color: #151515;
    background-color: #f8ea49;
    border-color: #f8ea49;
}

.button-primary-2.button-ujarak::before {
    background: #f8ea49;
}

.button-primary-2.button-zakaria:after {
    background: #0473db;
}

.button-primary-3, .button-primary-3:focus {
    color: #ffffff;
    background-color: #0473db;
    border-color: #0473db;
}

.button-primary-3:hover, .button-primary-3:active {
    color: #ffffff;
    background-color: #707475;
    border-color: #707475;
}

.button-primary-3.button-ujarak::before {
    background: #707475;
}

.button-primary-3.button-zakaria:after {
    background: #0473db;
}

.button-secondary, .button-secondary:focus {
    color: #151515;
    background-color: #f8ea49;
    border-color: #f8ea49;
}

.button-secondary:hover, .button-secondary:active {
    color: #ffffff;
    background-color: #0473db;
    border-color: #0473db;
}

.button-secondary.button-ujarak::before {
    background: #0473db;
}

.button-secondary.button-zakaria:after {
    background: #f8ea49;
}

.button-secondary-2, .button-secondary-2:focus {
    color: #151515;
    background-color: #f8ea49;
    border-color: #f8ea49;
}

.button-secondary-2:hover, .button-secondary-2:active {
    color: #151515;
    background-color: rgba(4, 115, 219, 0.7);
    border-color: rgba(4, 115, 219, 0.7);
}

.button-secondary-2.button-ujarak::before {
    background: rgba(4, 115, 219, 0.7);
}

.button-secondary-2.button-zakaria:after {
    background: #f8ea49;
}

.button-gray-6, .button-gray-6:focus {
    color: #ffffff;
    background-color: #707475;
    border-color: #707475;
}

.button-gray-6:hover, .button-gray-6:active {
    color: #151515;
    background-color: #f8ea49;
    border-color: #f8ea49;
}

.button-gray-6.button-ujarak::before {
    background: #f8ea49;
}

.button-gray-6.button-zakaria:after {
    background: #707475;
}

.button-gray-14, .button-gray-14:focus {
    color: #ffffff;
    background-color: #626469;
    border-color: #626469;
}

.button-gray-14:hover, .button-gray-14:active {
    color: #ffffff;
    background-color: #0473db;
    border-color: #0473db;
}

.button-gray-14.button-ujarak::before {
    background: #0473db;
}

.button-gray-14.button-zakaria:after {
    background: #626469;
}

.button-default-outline, .button-default-outline:focus {
    color: #151515;
    background-color: transparent;
    border-color: #151515;
}

.button-default-outline:hover, .button-default-outline:active {
    color: #ffffff;
    background-color: #0473db;
    border-color: #0473db;
}

.button-default-outline.button-ujarak::before {
    background: #0473db;
}

.button-default-outline.button-zakaria:after {
    background: transparent;
}

.button-default-outline-2, .button-default-outline-2:focus {
    color: #151515;
    background-color: transparent;
    border-color: #151515;
}

.button-default-outline-2:hover, .button-default-outline-2:active {
    color: #151515;
    background-color: #f8ea49;
    border-color: #f8ea49;
}

.button-default-outline-2.button-ujarak::before {
    background: #f8ea49;
}

.button-default-outline-2.button-zakaria:after {
    background: transparent;
}

.button-default-outline-3, .button-default-outline-3:focus {
    color: #0473db;
    background-color: transparent;
    border-color: #0473db;
}

.button-default-outline-3:hover, .button-default-outline-3:active {
    color: #ffffff;
    background-color: #0473db;
    border-color: #0473db;
}

.button-default-outline-3.button-ujarak::before {
    background: #0473db;
}

.button-default-outline-3.button-zakaria:after {
    background: transparent;
}

.button-style-1, .button-style-1:focus {
    color: #f8ea49;
    background-color: #707475;
    border-color: #707475;
}

.button-style-1:hover, .button-style-1:active {
    color: #ffffff;
    background-color: #0473db;
    border-color: #0473db;
}

.button-style-1.button-ujarak::before {
    background: #0473db;
}

.button-style-1.button-zakaria:after {
    background: #707475;
}

.button-style-2, .button-style-2:focus {
    color: #ffffff;
    background-color: #707475;
    border-color: #707475;
}

.button-style-2:hover, .button-style-2:active {
    color: #ffffff;
    background-color: #0473db;
    border-color: #0473db;
}

.button-style-2.button-ujarak::before {
    background: #0473db;
}

.button-style-2.button-zakaria:after {
    background: #707475;
}

.button-ghost {
    border: 0;
    background-color: transparent;
}

.button-ghost:hover {
    color: #ffffff;
    background: #0473db;
}

.button-facebook, .button-facebook:focus {
    color: #ffffff;
    background-color: #3972ac;
    border-color: #3972ac;
}

.button-facebook:hover, .button-facebook:active {
    color: #ffffff;
    background-color: #336599;
    border-color: #336599;
}

.button-facebook.button-ujarak::before {
    background: #336599;
}

.button-facebook.button-zakaria:after {
    background: #3972ac;
}

.button-twitter, .button-twitter:focus {
    color: #ffffff;
    background-color: #52b0e7;
    border-color: #52b0e7;
}

.button-twitter:hover, .button-twitter:active {
    color: #ffffff;
    background-color: #3ca6e4;
    border-color: #3ca6e4;
}

.button-twitter.button-ujarak::before {
    background: #3ca6e4;
}

.button-twitter.button-zakaria:after {
    background: #52b0e7;
}

.button-google, .button-google:focus {
    color: #ffffff;
    background-color: #ed5e5e;
    border-color: #ed5e5e;
}

.button-google:hover, .button-google:active {
    color: #ffffff;
    background-color: #ea4747;
    border-color: #ea4747;
}

.button-google.button-ujarak::before {
    background: #ea4747;
}

.button-google.button-zakaria:after {
    background: #ed5e5e;
}

.button-shadow {
    box-shadow: 7px 7px 3px 0 rgba(0, 0, 0, 0.04);
}

.button-shadow-2 {
    box-shadow: 3px 9px 18px 0 rgba(0, 0, 0, 0.18);
}

.button-shadow-3 {
    box-shadow: 8px 9px 16px 0 rgba(0, 0, 0, 0.35);
}

.button-shadow-4 {
    box-shadow: 2px 3px 10px 0 rgba(0, 0, 0, 0.17);
}

.button-ujarak {
    position: relative;
    z-index: 0;
    transition: background .4s, border-color .4s, color .4s;
}

.button-ujarak::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0473db;
    z-index: -1;
    opacity: 0;
    transform: scale3d(0.7, 1, 1);
    transition: transform 0.42s, opacity 0.42s;
    border-radius: inherit;
}

.button-ujarak, .button-ujarak::before {
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button-ujarak:hover {
    transition: background .4s .4s, border-color .4s 0s, color .2s 0s;
}

.button-ujarak:hover::before {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
}

.button-zakaria {
    transition: all .3s ease-in-out;
    z-index: 1;
}

.button-zakaria::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 110%;
    padding-bottom: 110%;
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1);
    transition: inherit;
    pointer-events: none;
    z-index: -1;
}

.button-zakaria:hover:after, .button-zakaria:active:after {
    transform: translate3d(-50%, -50%, 0) scale(0);
}

.button-zakaria.button-default-outline:after, .button-zakaria.button-default-outline-2:after, .button-zakaria.button-default-outline-3:after {
    background: #ffffff;
}

.ios .button-zakaria::after,
.iphone .button-zakaria::after,
.ipad .button-zakaria::after,
.mac-os .button-zakaria::after {
    display: none;
}

.button-sm {
    padding: 1px 15px;
    font-size: 12px;
    line-height: 2;
}

@media (min-width: 768px) {
    .button-sm {
        padding: 6px 25px;
    }
}

@media (min-width: 992px) {
    .button-sm {
        padding: 11px 30px;
    }
}

.button-lg {
    padding: 4px 18.5px;
    font-size: 14px;
    line-height: 2;
}

@media (min-width: 768px) {
    .button-lg {
        padding: 9px 32px;
    }
}

@media (min-width: 992px) {
    .button-lg {
        padding: 14px 37px;
    }
}

.button-xl {
    padding: 6px 25px;
    font-size: 16px;
    line-height: 28px;
}

@media (min-width: 768px) {
    .button-xl {
        padding: 11px 45px;
    }
}

@media (min-width: 992px) {
    .button-xl {
        padding: 16px 50px;
    }
}

@media (min-width: 992px) {
    .button-xl {
        padding: 20px 80px;
    }
}

.button-circle {
    border-radius: 30px;
}

.button-round-1 {
    border-radius: 5px;
}

.button-round-2 {
    border-radius: 10px;
}

.button-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.button-icon .icon {
    position: relative;
    display: inline-block;
    color: inherit;
    font-size: 14px;
    line-height: 1;
}

.button-icon .mdi-email-outline {
    font-size: 20px;
}

.button-icon-left .icon {
    margin-right: 5px;
}

.button-icon-right {
    flex-direction: row-reverse;
}

.button-icon-right .icon {
    margin-left: 5px;
}

.button-icon-2 {
    min-width: 40px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
    line-height: 28px;
    border-radius: 50%;
}

@media (min-width: 768px) {
    .button-icon-2 {
        font-size: 24px;
        min-width: 50px;
    }
}

@media (min-width: 992px) {
    .button-icon-2 {
        min-width: 60px;
    }
}

.button-icon-3 {
    min-width: 30px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 18px;
    line-height: 24px;
    border-radius: 50%;
}

.button-icon-3 span {
    font-size: inherit;
    vertical-align: middle;
}

@media (min-width: 768px) {
    .button-icon-3 {
        font-size: 22px;
        min-width: 40px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (min-width: 992px) {
    .button-icon-3 {
        min-width: 50px;
    }
}

@-moz-document url-prefix() {
    .button-icon-3 span {
        vertical-align: baseline;
        line-height: inherit;
    }
}

.btn-primary {
    border-radius: 3px;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    letter-spacing: .05em;
    text-transform: uppercase;
    transition: .33s;
}

.btn-primary, .btn-primary:active, .btn-primary:focus {
    color: #ffffff;
    background: #0473db;
    border-color: #0473db;
}

.btn-primary:hover {
    color: #ffffff;
    background: #000000;
    border-color: #000000;
}
