hr {
    margin-top: 0;
    margin-bottom: 0;
    border-top: 1px solid #ebebeb;
}

.divider {
    font-size: 0;
    line-height: 0;
}

.divider::after {
    content: '';
    display: inline-block;
    width: 60px;
    height: 2px;
    background-color: #0473db;
}

.hr-gray-100 {
    border-color: #e1e1e1;
}
