.footer-classic {
    text-align: center;
    letter-spacing: .025em;
    background: #ffffff;
}

.footer-classic-2 {
    background: #444a4d;
}

.footer-classic-2 .footer-classic-panel {
    background: #31383b;
}

.footer-classic-panel {
    text-align: center;
    padding: 20px 0;
    background: #eff3f8;
}

.footer-classic-panel a, .footer-classic-panel a:focus, .footer-classic-panel a:active {
    color: inherit;
}

.footer-classic-panel a:hover {
    color: #0473db;
}

.footer-classic-title {
    font-weight: 600;
}

.list-schedule {
    letter-spacing: 0;
}

.list-schedule li > * {
    display: inline-block;
}

.list-schedule li > *:first-child {
    color: #151515;
    min-width: 75px;
}

.list-schedule li > * + * {
    margin-left: 8px;
}

.footer-classic-social {
    color: #151515;
    letter-spacing: 0;
}

* + .footer-classic-social {
    margin-top: 24px;
    padding-top: 24px;
    border-top: 1px solid #e1e1e1;
}

.contacts-creative {
    letter-spacing: .05em;
    color: #151515;
}

.contacts-creative a, .contacts-creative a:focus, .contacts-creative a:active {
    color: inherit;
}

.contacts-creative a:hover {
    color: #0473db;
}

.contacts-creative .icon {
    vertical-align: middle;
    font-size: 18px;
    line-height: 21px;
    color: #f8ea49;
}

.contacts-creative li + li {
    margin-top: 12px;
}

@media (min-width: 768px) {
    .contacts-creative .icon {
        line-height: 24px;
    }
    .contacts-creative li + li {
        margin-top: 18px;
    }
}

* + .list-schedule {
    margin-top: 12px;
}

.footer-classic-brand + * {
    margin-top: 12px;
}

.footer-classic-title + * {
    margin-top: 12px;
}

@media (min-width: 576px) {
    * + .list-schedule {
        margin-top: 20px;
    }
    .footer-classic-brand + * {
        margin-top: 20px;
    }
    .footer-classic-title + * {
        margin-top: 20px;
    }
}

@media (min-width: 768px) {
    .footer-classic {
        text-align: left;
    }
    .footer-classic-panel {
        text-align: left;
        padding: 30px 0;
    }
    .list-schedule li > *:first-child {
        min-width: 86px;
    }
    * + .list-schedule {
        margin-top: 30px;
    }
    .footer-classic-brand + * {
        margin-top: 30px;
    }
    .footer-classic-title + * {
        margin-top: 30px;
    }
}

@media (min-width: 992px) {
    .footer-classic-title + * {
        margin-top: 45px;
    }
}

@media (min-width: 1200px) {
    .footer-classic-panel {
        padding: 40px 0;
    }
}

.footer-classic .context-dark .button-primary:hover, .footer-classic .bg-gray-700 .button-primary:hover, .footer-classic .bg-gray-3 .button-primary:hover, .footer-classic .bg-brown-1 .button-primary:hover, .footer-classic .bg-primary .button-primary:hover, .footer-classic .context-dark .button-primary:active, .footer-classic .bg-gray-700 .button-primary:active, .footer-classic .bg-gray-3 .button-primary:active, .footer-classic .bg-brown-1 .button-primary:active, .footer-classic .bg-primary .button-primary:active {
    color: #0473db;
    background-color: #ffffff;
    border-color: #ffffff;
}

.context-dark .list-schedule li > *:first-child, .bg-gray-700 .list-schedule li > *:first-child, .bg-gray-3 .list-schedule li > *:first-child, .bg-brown-1 .list-schedule li > *:first-child, .bg-primary .list-schedule li > *:first-child,
.context-dark .contacts-creative,
.bg-gray-700 .contacts-creative,
.bg-gray-3 .contacts-creative,
.bg-brown-1 .contacts-creative,
.bg-primary .contacts-creative {
    color: inherit;
}

.context-dark .footer-classic-social, .bg-gray-700 .footer-classic-social, .bg-gray-3 .footer-classic-social, .bg-brown-1 .footer-classic-social, .bg-primary .footer-classic-social {
    color: inherit;
    border-top-color: rgba(255, 255, 255, 0.2);
}

.footer-modern {
    text-align: center;
    background: #ffffff;
}

.footer-modern-2 {
    background: #2a333f;
}

.footer-modern-2 .footer-modern-panel {
    border-color: rgba(225, 225, 225, 0.2);
}

.footer-modern-title {
    letter-spacing: 0;
}

.footer-modern-list {
    text-align: left;
    columns: 2;
    break-inside: avoid;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    margin-bottom: -7px;
    color: #151515;
}

.footer-modern-list > li {
    text-indent: -20px;
    padding-left: 20px;
    transition: all .25s ease;
}

.footer-modern-list > li::before {
    display: inline-block;
    vertical-align: middle;
    content: '';
    height: 2px;
    width: 10px;
    margin-right: 10px;
    background: #d7d7d7;
    transition: inherit;
}

.footer-modern-list > li:hover a {
    color: #0473db;
}

.footer-modern-list > li {
    margin-bottom: 7px;
}

.footer-modern-list a {
    vertical-align: middle;
}

.footer-modern-list a, .footer-modern-list a:focus, .footer-modern-list a:active {
    color: inherit;
}

.footer-modern-list a:hover {
    color: #0473db;
}

.footer-modern-title + * {
    margin-top: 25px;
}

.footer-modern-panel {
    padding: 20px 0;
    border-top: 1px solid #e1e1e1;
}

@media (min-width: 768px) and (max-width: 767.98px) {
    .footer-modern-list-2 {
        columns: 1;
    }
}

@media (min-width: 768px) {
    .footer-modern {
        text-align: left;
    }
    .footer-modern-list > li {
        text-indent: -34px;
        padding-left: 34px;
    }
    .footer-modern-list > li::before {
        width: 17px;
        margin-right: 17px;
    }
    .footer-modern-title + .row {
        margin-top: 35px;
    }
}

@media (min-width: 992px) {
    .footer-modern-list {
        -moz-column-gap: 30px;
        -webkit-column-gap: 30px;
    }
    .footer-modern-panel {
        padding: 30px 0;
    }
}

@media (min-width: 1200px) {
    .footer-modern-list {
        max-width: 94%;
    }
    .footer-modern-list > li {
        padding-right: 17px;
    }
    .footer-modern-list > li:hover {
        padding-right: 0;
    }
    .footer-modern-list > li:hover::before {
        width: 34px;
        background: #0473db;
    }
    .footer-modern-panel {
        padding: 35px 0;
    }
}

.context-dark .footer-modern-list, .bg-gray-700 .footer-modern-list, .bg-gray-3 .footer-modern-list, .bg-brown-1 .footer-modern-list, .bg-primary .footer-modern-list {
    color: inherit;
}

.context-dark .footer-modern-list > li::before, .bg-gray-700 .footer-modern-list > li::before, .bg-gray-3 .footer-modern-list > li::before, .bg-brown-1 .footer-modern-list > li::before, .bg-primary .footer-modern-list > li::before {
    background: rgba(255, 255, 255, 0.2);
}

.footer-creative {
    text-align: center;
    background-color: #ffffff;
}

.footer-creative .list-social {
    color: inherit;
}

.footer-creative .rights {
    letter-spacing: .025em;
}

.footer-creative .row + .row {
    margin-top: 50px;
}

.footer-creative-2 {
    background-image: url(../images/bg-pattern-3.jpg);
    background-repeat: repeat;
    background-size: auto;
    background-color: #404147;
}

.footer-creative-2 .footer-creative-panel {
    background-color: #333638;
}

.footer-creative-2 .list-social a:hover {
    color: #ffffff;
}

.footer-creative-panel {
    padding: 20px 0;
    background-color: #eff3f8;
}

.footer-creative-title {
    display: inline-block;
    padding: 0 15px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: .1em;
    border: solid #0473db;
    border-width: 0 3px 0 3px;
}

.footer-creative-list {
    font-size: 14px;
    line-height: 2;
    font-weight: 600;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #151515;
}

.footer-creative-list a, .footer-creative-list a:focus, .footer-creative-list a:active {
    color: inherit;
}

.footer-creative-list a:hover {
    color: #0473db;
}

.footer-creative-list li + li {
    margin-top: 10px;
}

.contacts-holly {
    color: #151515;
}

.contacts-holly a, .contacts-holly a:focus, .contacts-holly a:active {
    color: inherit;
}

.contacts-holly a:hover {
    color: #0473db;
}

.contacts-holly li + li {
    margin-top: 20px;
}

.contacts-holly-title {
    font-size: 12px;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #777777;
}

* + .contacts-holly-text {
    margin-top: 5px;
}

* + .footer-creative-clients {
    margin-top: 20px;
}

.footer-creative-title + * {
    margin-top: 20px;
}

@media (min-width: 768px) {
    .footer-creative {
        text-align: left;
    }
    .footer-creative .row + .row {
        margin-top: 60px;
    }
    .footer-creative-title {
        display: block;
        padding-right: 0;
        border-right-width: 0;
    }
    .footer-creative-list li + li {
        margin-top: 20px;
    }
    .contacts-holly li + li {
        margin-top: 30px;
    }
    .footer-creative-panel {
        padding: 30px 0;
    }
    .footer-creative-title + * {
        margin-top: 34px;
    }
}

@media (min-width: 992px) {
    .footer-creative .row + .row {
        margin-top: 80px;
    }
    .footer-creative-panel {
        padding: 40px 0;
    }
}

@media (min-width: 1200px) {
    .footer-creative .row + .row {
        margin-top: 100px;
    }
    .footer-creative-panel {
        padding: 50px 0;
    }
}

.context-dark .contacts-holly, .bg-gray-700 .contacts-holly, .bg-gray-3 .contacts-holly, .bg-brown-1 .contacts-holly, .bg-primary .contacts-holly,
.context-dark .footer-creative-list,
.bg-gray-700 .footer-creative-list,
.bg-gray-3 .footer-creative-list,
.bg-brown-1 .footer-creative-list,
.bg-primary .footer-creative-list {
    color: inherit;
}

.context-dark .contacts-holly-title, .bg-gray-700 .contacts-holly-title, .bg-gray-3 .contacts-holly-title, .bg-brown-1 .contacts-holly-title, .bg-primary .contacts-holly-title {
    color: rgba(255, 255, 255, 0.4);
}

.footer-corporate {
    text-align: center;
    background: #ffffff;
}

.footer-corporate * + .group-middle {
    margin-top: 22px;
}

.footer-corporate-2 {
    background: #4d4e50;
}

.footer-corporate-2 .footer-corporate-panel {
    background: #444548;
}

.footer-corporate-panel {
    text-align: center;
    padding: 20px 0;
    background: #eff3f8;
}

.footer-corporate-panel a, .footer-corporate-panel a:focus, .footer-corporate-panel a:active {
    color: inherit;
}

.footer-corporate-panel a:hover {
    color: #0473db;
}

.footer-corporate-title {
    letter-spacing: .1em;
    text-transform: uppercase;
}

.footer-corporate-decor {
    font-size: 0;
    line-height: 0;
}

.footer-corporate-decor::before {
    display: inline-block;
    content: '';
    width: 58px;
    border-top: 3px solid #0473db;
}

.footer-corporate-info {
    text-align: center;
}

.footer-corporate-info a, .footer-corporate-info a:focus, .footer-corporate-info a:active {
    color: inherit;
}

.footer-corporate-info a:hover {
    color: #0473db;
}

.footer-corporate-info .icon {
    text-align: left;
    font-size: 30px;
    min-width: 30px;
    color: rgba(21, 21, 21, 0.3);
}

.footer-corporate-info > li + li {
    margin-top: 14px;
}

.footer-corporate-list {
    margin-bottom: -6px;
    color: #151515;
    columns: 2;
    break-inside: avoid;
    -moz-column-gap: 30px;
    -webkit-column-gap: 30px;
}

.footer-corporate-list > * {
    margin-bottom: 6px;
}

.footer-corporate-list a, .footer-corporate-list a:focus, .footer-corporate-list a:active {
    color: inherit;
}

.footer-corporate-list a:hover {
    color: #0473db;
}

* + .footer-corporate-decor {
    margin-top: 12px;
}

.footer-corporate-decor + * {
    margin-top: 20px;
}

@media (min-width: 768px) {
    .footer-corporate {
        text-align: left;
    }
    .footer-corporate-panel {
        padding: 30px 0;
    }
    .footer-corporate-info {
        text-align: left;
    }
    .footer-corporate-list {
        margin-bottom: -9px;
        max-width: 250px;
    }
    .footer-corporate-list > * {
        margin-bottom: 9px;
    }
    .footer-corporate-info .icon {
        font-size: 40px;
        min-width: 40px;
    }
    .footer-corporate-info > li + li {
        margin-top: 22px;
    }
    * + .footer-corporate-decor {
        margin-top: 16px;
    }
    .footer-corporate-decor + * {
        margin-top: 28px;
    }
}

@media (min-width: 1200px) and (max-width: 1199.98px) {
    .footer-corporate .button {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: 1200px) {
    .footer-corporate-panel {
        padding: 45px 0;
    }
}

.context-dark .footer-corporate-decor::before, .bg-gray-700 .footer-corporate-decor::before, .bg-gray-3 .footer-corporate-decor::before, .bg-brown-1 .footer-corporate-decor::before, .bg-primary .footer-corporate-decor::before {
    border-color: #f8ea49;
}

.context-dark .footer-corporate-info a:hover, .bg-gray-700 .footer-corporate-info a:hover, .bg-gray-3 .footer-corporate-info a:hover, .bg-brown-1 .footer-corporate-info a:hover, .bg-primary .footer-corporate-info a:hover {
    color: #f8ea49;
}

.context-dark .footer-corporate-info .icon, .bg-gray-700 .footer-corporate-info .icon, .bg-gray-3 .footer-corporate-info .icon, .bg-brown-1 .footer-corporate-info .icon, .bg-primary .footer-corporate-info .icon {
    color: rgba(255, 255, 255, 0.08);
}

.context-dark .footer-corporate-list, .bg-gray-700 .footer-corporate-list, .bg-gray-3 .footer-corporate-list, .bg-brown-1 .footer-corporate-list, .bg-primary .footer-corporate-list {
    color: inherit;
}

.context-dark .footer-corporate-list a:hover, .bg-gray-700 .footer-corporate-list a:hover, .bg-gray-3 .footer-corporate-list a:hover, .bg-brown-1 .footer-corporate-list a:hover, .bg-primary .footer-corporate-list a:hover {
    color: #f8ea49;
}

.context-dark .footer-corporate-text, .bg-gray-700 .footer-corporate-text, .bg-gray-3 .footer-corporate-text, .bg-brown-1 .footer-corporate-text, .bg-primary .footer-corporate-text {
    color: rgba(255, 255, 255, 0.34);
}

.bg-default + .footer-corporate:not(.footer-corporate-2),
.bg-default + .footer-creative:not(.footer-creative-2),
.bg-default + .footer-modern:not(.footer-modern-2),
.bg-default + .footer-classic:not(.footer-classic-2) {
    border-top: 1px solid #e1e1e1;
}
