.rd-form {
    position: relative;
    text-align: left;
}

.rd-form .button {
    width: 100%;
}

.rd-form .button-icon-2 {
    width: auto;
    min-width: 50px;
}

.rd-form .row + .button {
    margin-top: 30px;
}

@media (min-width: 576px) {
    .rd-form .button {
        width: auto;
    }
}

@media (min-width: 768px) {
    .rd-form .button-icon-2 {
        min-width: 60px;
    }
    .rd-form .row + .button,
    .rd-form .row + .group-middle {
        margin-top: 60px;
    }
}

@media (min-width: 1200px) {
    .rd-form .button {
        min-width: 190px;
    }
    .rd-form .button-icon-2 {
        min-width: 60px;
    }
}

.rd-form-text-center {
    text-align: center;
}

.rd-form-text-center .form-input,
.rd-form-text-center .form-label {
    text-align: inherit;
}

* + .rd-form {
    margin-top: 20px;
}

@media (min-width: 768px) {
    * + .rd-form {
        margin-top: 30px;
    }
}

input:-webkit-autofill ~ label,
input:-webkit-autofill ~ .form-validation {
    color: #000000 !important;
}

.form-wrap {
    position: relative;
}

.form-wrap.has-error .form-input {
    border-color: #f5543f;
}

.form-wrap.has-focus .form-input {
    border-color: #0473db;
}

.form-wrap-recaptcha .form-validation {
    top: 2px;
    right: 5px;
    bottom: auto;
}

.form-wrap + * {
    margin-top: 20px;
}

.form-wrap + .button {
    margin-top: 30px;
}

@media (min-width: 768px) {
    .form-wrap + * {
        margin-top: 30px;
    }
    .form-wrap + .button,
    .form-wrap + .group-button-1 {
        margin-top: 60px;
    }
}

.form-input {
    display: block;
    width: 100%;
    min-height: 50px;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .1em;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #151515;
    background-color: transparent;
    background-image: none;
    border-radius: 0;
    -webkit-appearance: none;
    transition: .3s ease-in-out;
    border: 1px solid #e1e1e1;
    border-width: 0 0 1px 0;
}

@media (min-width: 768px) {
    .form-input {
        font-size: 15px;
        min-height: 60px;
        padding: 17px 0;
    }
}

.form-input:focus {
    outline: 0;
}

textarea.form-input {
    height: 114px;
    min-height: 60px;
    max-height: 194px;
    resize: vertical;
}

textarea.textarea-lg {
    height: 150px;
    max-height: 255px;
}

.form-label,
.form-label-outside {
    margin-bottom: 0;
    color: #151515;
    font-weight: 400;
}

.form-label {
    position: absolute;
    text-align: left;
    top: 25px;
    right: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .1em;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    transform: translateY(-50%);
    will-change: transform;
    pointer-events: none;
    transition: .25s;
    z-index: 9;
}

@media (min-width: 768px) {
    .form-label {
        top: 30px;
        font-size: 15px;
    }
}

.form-label.focus {
    opacity: 0;
}

.form-label.auto-fill {
    color: #151515;
}

.form-label-outside {
    width: 100%;
    margin-bottom: 4px;
}

@media (min-width: 768px) {
    .form-label-outside {
        position: static;
    }
    .form-label-outside, .form-label-outside.focus, .form-label-outside.auto-fill {
        transform: none;
    }
}

[data-x-mode='true'] .form-label {
    pointer-events: auto;
}

.form-validation {
    position: absolute;
    right: 0;
    bottom: -20px;
    z-index: 11;
    margin-top: 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0;
    color: #f5543f !important;
    transition: .3s;
}

.form-validation-left .form-validation {
    top: 100%;
    right: auto;
    left: 0;
}

#form-output-global {
    position: fixed;
    bottom: 30px;
    left: 15px;
    z-index: 2000;
    visibility: hidden;
    transform: translate3d(-500px, 0, 0);
    transition: .3s all ease;
}

#form-output-global.active {
    visibility: visible;
    transform: translate3d(0, 0, 0);
}

@media (min-width: 576px) {
    #form-output-global {
        left: 30px;
    }
}

.form-output {
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2;
    margin-top: 2px;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
}

.form-output.active {
    opacity: 1;
    visibility: visible;
}

.form-output.error {
    color: #f5543f;
}

.form-output.success {
    color: #98bf44;
}

.radio .radio-custom,
.radio-inline .radio-custom,
.checkbox .checkbox-custom,
.checkbox-inline .checkbox-custom {
    opacity: 0;
}

.radio .radio-custom, .radio .radio-custom-dummy,
.radio-inline .radio-custom,
.radio-inline .radio-custom-dummy,
.checkbox .checkbox-custom,
.checkbox .checkbox-custom-dummy,
.checkbox-inline .checkbox-custom,
.checkbox-inline .checkbox-custom-dummy {
    position: absolute;
    top: 3px;
    left: 0;
    width: 18px;
    height: 18px;
    outline: none;
    cursor: pointer;
}

.radio .radio-custom-dummy,
.radio-inline .radio-custom-dummy,
.checkbox .checkbox-custom-dummy,
.checkbox-inline .checkbox-custom-dummy {
    pointer-events: none;
    background: #ffffff;
}

.radio .radio-custom-dummy::after,
.radio-inline .radio-custom-dummy::after,
.checkbox .checkbox-custom-dummy::after,
.checkbox-inline .checkbox-custom-dummy::after {
    position: absolute;
    opacity: 0;
    transition: .22s;
}

.radio .radio-custom:focus,
.radio-inline .radio-custom:focus,
.checkbox .checkbox-custom:focus,
.checkbox-inline .checkbox-custom:focus {
    outline: none;
}

.radio input,
.radio-inline input,
.checkbox input,
.checkbox-inline input {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.radio-custom:checked + .radio-custom-dummy:after,
.checkbox-custom:checked + .checkbox-custom-dummy:after {
    opacity: 1;
}

.radio,
.radio-inline {
    position: relative;
    text-align: left;
    padding-left: 30px;
    font-size: 15px;
    line-height: 1.72;
    letter-spacing: .025em;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #9b9b9b;
    cursor: pointer;
}

.radio .radio-custom,
.radio .radio-custom-dummy,
.radio-inline .radio-custom,
.radio-inline .radio-custom-dummy {
    top: 2px;
    left: 0;
    width: 21px;
    height: 21px;
    margin: 0;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
}

.radio .radio-custom::after,
.radio .radio-custom-dummy::after,
.radio-inline .radio-custom::after,
.radio-inline .radio-custom-dummy::after {
    content: '\f222';
    font-family: "Material Design Icons";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    line-height: 1;
    color: #151515;
}

.checkbox,
.checkbox-inline {
    position: relative;
    text-align: left;
    padding-left: 30px;
    font-size: 15px;
    line-height: 1.72;
    letter-spacing: .025em;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #9b9b9b;
    cursor: pointer;
}

.checkbox .checkbox-custom,
.checkbox .checkbox-custom-dummy,
.checkbox-inline .checkbox-custom,
.checkbox-inline .checkbox-custom-dummy {
    top: 2px;
    left: 0;
    width: 21px;
    height: 21px;
    margin: 0;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
}

.checkbox .checkbox-custom::after,
.checkbox .checkbox-custom-dummy::after,
.checkbox-inline .checkbox-custom::after,
.checkbox-inline .checkbox-custom-dummy::after {
    content: '\f222';
    font-family: "Material Design Icons";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    line-height: 1;
    color: #151515;
}

* + .checkbox-inline {
    margin-top: 30px;
}

.checkbox-inline + .group-button-1 {
    margin-top: 30px;
}

@media (min-width: 768px) {
    .checkbox-inline + .group-button-1 {
        margin-top: 60px;
    }
}

.toggle-custom {
    padding-left: 60px;
    -webkit-appearance: none;
}

.toggle-custom:checked ~ .checkbox-custom-dummy::after {
    background: #0473db;
    transform: translate(20px, -50%);
}

.toggle-custom ~ .checkbox-custom-dummy {
    position: relative;
    display: inline-block;
    margin-top: -1px;
    width: 44px;
    height: 20px;
    background: transparent;
    cursor: pointer;
}

.toggle-custom ~ .checkbox-custom-dummy::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 16px;
    left: 0;
    top: 50%;
    background: #b7b7b7;
    transform: translate(4px, -50%);
    opacity: 1;
    transition: .22s;
}

.rd-form-inline {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    margin-bottom: -20px;
    margin-left: -30px;
}

.rd-form-inline:empty {
    margin-bottom: 0;
    margin-left: 0;
}

.rd-form-inline > * {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 30px;
}

.rd-form-inline > * {
    margin-top: 0;
}

.rd-form-inline .form-wrap {
    flex-grow: 1;
    min-width: 185px;
}

.rd-form-inline .form-wrap-select {
    text-align: left;
}

.rd-form-inline .form-button {
    flex-shrink: 0;
    min-height: 50px;
}

.rd-form-inline .form-button .button {
    padding-top: 9px;
    padding-bottom: 9px;
    min-height: inherit;
}

@media (max-width: 575.98px) {
    .rd-form-inline .form-input,
    .rd-form-inline .form-label {
        text-align: center;
    }
}

@media (min-width: 576px) {
    .rd-form-inline {
        flex-direction: row;
    }
    .rd-form-inline .button {
        display: block;
    }
}

@media (min-width: 768px) {
    .rd-form-inline .form-button {
        min-height: 60px;
    }
    .rd-form-inline .form-button .button {
        padding-top: 14px;
        padding-bottom: 14px;
    }
}

@media (min-width: 992px) {
    .rd-form-inline .form-button .button-lg {
        padding-top: 19px;
        padding-bottom: 19px;
    }
}

@media (min-width: 1200px) {
    .rd-form-inline {
        margin-left: -46px;
    }
    .rd-form-inline > * {
        margin-left: 46px;
    }
}

.rd-form-inline-2 {
    margin-left: -15px;
}

.rd-form-inline-2 > * {
    margin-left: 15px;
}

@media (min-width: 992px) {
    .rd-form-inline-2 {
        flex-wrap: nowrap;
    }
}

.form-sm .form-input,
.form-sm .button {
    padding-top: 9px;
    padding-bottom: 9px;
    min-height: 45px;
}

.form-sm .form-validation {
    top: -16px;
}

.form-sm .form-label {
    top: 22.5px;
}

.form-sm * + .button {
    margin-top: 10px;
}

@media (min-width: 992px) {
    .form-lg .form-input,
    .form-lg .form-label {
        font-size: 18px;
        font-weight: 300;
        letter-spacing: .05em;
    }
    .form-lg .form-input {
        min-height: 70px;
        padding-top: 22px;
        padding-bottom: 22px;
    }
    .form-lg .form-label {
        top: 35px;
    }
}

.rd-form-coupon {
    margin-bottom: -16px;
    margin-left: -16px;
}

.rd-form-coupon:empty {
    margin-bottom: 0;
    margin-left: 0;
}

.rd-form-coupon > * {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 16px;
    margin-left: 16px;
}

.rd-form-coupon .form-input,
.rd-form-coupon .form-label {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .05em;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.rd-form-coupon .form-input {
    border-width: 1px;
    border-radius: 6px;
}

@media (min-width: 992px) {
    .rd-form-coupon .form-input {
        min-height: 70px;
        padding-top: 22px;
        padding-bottom: 22px;
    }
    .rd-form-coupon .form-label {
        top: 35px;
    }
}

.form-style-1 {
    position: relative;
    overflow: hidden;
    padding: 12% 10%;
}

.form-style-1 .rd-form {
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
}

.form-style-1::before, .form-style-1::after {
    position: absolute;
    content: '';
    border: solid #e1e1e1;
    pointer-events: none;
}

.form-style-1::before {
    top: 0;
    left: 20px;
    height: 100%;
    width: calc( 100% - 40px);
    border-width: 1px 0 1px 0;
}

.form-style-1::after {
    left: 0;
    top: 20px;
    height: calc( 100% - 40px);
    width: 100%;
    border-width: 0 1px 0 1px;
}

.form-style-1 .form-style-decor-1,
.form-style-1 .form-style-decor-2 {
    pointer-events: none;
}

.form-style-1 .form-style-decor-1::before, .form-style-1 .form-style-decor-1::after,
.form-style-1 .form-style-decor-2::before,
.form-style-1 .form-style-decor-2::after {
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    border: 1px solid #e1e1e1;
    border-radius: 50%;
}

.form-style-1 .form-style-decor-1::before, .form-style-1 .form-style-decor-1::after {
    top: 0;
}

.form-style-1 .form-style-decor-1::before {
    left: 0;
    transform: translate3d(-50%, -50%, 0);
}

.form-style-1 .form-style-decor-1::after {
    right: 0;
    transform: translate3d(50%, -50%, 0);
}

.form-style-1 .form-style-decor-2::before, .form-style-1 .form-style-decor-2::after {
    bottom: 0;
}

.form-style-1 .form-style-decor-2::before {
    left: 0;
    transform: translate3d(-50%, 50%, 0);
}

.form-style-1 .form-style-decor-2::after {
    right: 0;
    transform: translate3d(50%, 50%, 0);
}

@media (min-width: 992px) {
    .form-style-1 {
        padding-top: 6%;
        padding-bottom: 8%;
    }
    .form-style-1 * + .rd-form {
        margin-top: 30px;
    }
    .form-style-1 * + .form-button {
        margin-top: 50px;
    }
}

@media (min-width: 1200px) {
    .form-style-1 * + .rd-form {
        margin-top: 50px;
    }
    .form-style-1 * + .form-button {
        margin-top: 65px;
    }
}

.context-dark .form-validation, .bg-gray-700 .form-validation, .bg-gray-3 .form-validation, .bg-brown-1 .form-validation, .bg-primary .form-validation,
.context-dark .form-input,
.bg-gray-700 .form-input,
.bg-gray-3 .form-input,
.bg-brown-1 .form-input,
.bg-primary .form-input,
.context-dark .form-label,
.bg-gray-700 .form-label,
.bg-gray-3 .form-label,
.bg-brown-1 .form-label,
.bg-primary .form-label {
    color: #ffffff;
}
