.icon {
    display: inline-block;
    font-size: 16px;
    line-height: 1;
}

.icon::before {
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    speak: none;
    text-transform: none;
}

.icon-circle {
    border-radius: 50%;
}

.icon-80 {
    font-size: 80px;
}
