.quote-classic {
    text-align: center;
}

.quote-classic-2 .quote-classic-text {
    color: #151515;
}

.quote-classic-text {
    position: relative;
    padding-top: 40px;
    font-weight: 400;
    letter-spacing: .05em;
    font-family: "Comfortaa", cursive;
}

.quote-classic-text::before {
    position: absolute;
    top: 0;
    left: 50%;
    content: '\201C';
    font-size: 60px;
    line-height: 1.3;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0;
    font-family: "Comfortaa", cursive;
    color: rgba(4, 115, 219, 0.22);
    transform: translate3d(-50%, 0, 0);
}

.quote-classic-author {
    padding-top: 14px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-family: "Comfortaa", cursive;
    color: #0473db;
    border-top: 1px solid #e1e1e1;
}

* + .quote-classic {
    margin-top: 20px;
}

* + .quote-classic-author {
    margin-top: 16px;
}

.post-modern + .quote-classic {
    margin-top: 20px;
}

.quote-classic + p {
    margin-top: 26px;
}

@media (min-width: 768px) {
    .quote-classic {
        text-align: left;
    }
    .quote-classic-text {
        padding-top: 0;
    }
    .quote-classic-text::before {
        top: 8%;
        left: -4px;
        font-size: 80px;
        transform: none;
    }
    .quote-classic-author {
        padding-top: 24px;
    }
    .quote-classic-text,
    .quote-classic-author {
        padding-left: 58px;
    }
    * + .quote-classic {
        margin-top: 34px;
    }
    * + .quote-classic-author {
        margin-top: 22px;
    }
    .post-modern + .quote-classic {
        margin-top: 40px;
    }
    .quote-classic + p {
        margin-top: 36px;
    }
}

.quote-classic-big {
    text-align: center;
}

.quote-classic-big-text {
    position: relative;
    padding-top: 50px;
    letter-spacing: 0;
}

.quote-classic-big-text::before {
    position: absolute;
    top: 0;
    left: 50%;
    content: '\201C';
    font-size: 60px;
    line-height: 1.3;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0;
    font-family: "Comfortaa", cursive;
    color: rgba(4, 115, 219, 0.22);
    transform: translate3d(-50%, 0, 0);
}

* + .quote-classic-big {
    margin-top: 20px;
}

@media (min-width: 768px) {
    .quote-classic-big {
        text-align: left;
    }
    .quote-classic-big-text {
        padding-top: 0;
    }
    .quote-classic-big-text {
        padding-left: 70px;
    }
    .quote-classic-big-text::before {
        top: 8%;
        left: -4px;
        font-size: 80px;
        transform: none;
    }
    * + .quote-classic-big {
        margin-top: 34px;
    }
}

@media (min-width: 1200px) {
    .quote-classic-big-text {
        line-height: 1;
    }
}

.quote-modern {
    text-align: center;
    padding: 30px 15px;
    border-radius: 10px;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.13);
    background: #ffffff;
}

.quote-modern-2 {
    border-radius: 60px;
}

.quote-modern-3 .quote-modern-status {
    color: #f8ea49;
}

.quote-modern-text {
    position: relative;
    padding-top: 40px;
    font-size: 16px;
    line-height: 1.44;
    font-weight: 400;
    letter-spacing: .02em;
    font-family: "Comfortaa", cursive;
}

.quote-modern-text::before {
    position: absolute;
    top: 0;
    left: 50%;
    content: '\201C';
    font-size: 60px;
    line-height: 1.3;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0;
    font-family: "Comfortaa", cursive;
    color: rgba(4, 115, 219, 0.22);
    transform: translate3d(-50%, 0, 0);
}

.quote-modern-figure img {
    border-radius: 50%;
}

.quote-modern-author {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #151515;
}

.quote-modern-status {
    font-style: italic;
    letter-spacing: .025em;
    color: #0473db;
}

.quote-modern-text + .unit {
    margin-top: 20px;
}

@media (min-width: 768px) {
    .quote-modern .unit {
        display: inline-flex;
        text-align: left;
    }
}

@media (min-width: 992px) {
    .quote-modern {
        padding: 45px 30px;
    }
    .quote-modern-text {
        padding-top: 65px;
        font-size: 18px;
    }
    .quote-modern-text::before {
        font-size: 100px;
    }
    .quote-modern-text + .unit {
        margin-top: 30px;
    }
}

@media (min-width: 1200px) {
    .quote-modern {
        padding: 60px 45px;
    }
    .quote-modern-2 {
        padding: 70px 80px;
    }
}

.quote-creative {
    text-align: center;
    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.09);
    background: #ffffff;
}

.quote-creative-text {
    position: relative;
    font-size: 18px;
    line-height: 2;
    font-weight: 400;
    letter-spacing: .05em;
    font-family: "Comfortaa", cursive;
    color: #151515;
}

.quote-creative-rating {
    font-size: 0;
    line-height: 0;
}

.quote-creative-rating .icon {
    font-size: 20px;
    line-height: 1;
    color: #ffcc00;
}

.quote-creative-figure img {
    border-radius: 50%;
}

.quote-creative-author {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #0473db;
}

* + .quote-creative-rating {
    margin-top: 10px;
}

.quote-creative-rating + .unit {
    margin-top: 20px;
}

@media (min-width: 768px) {
    .quote-creative {
        text-align: left;
        padding: 40px 30px;
    }
    .quote-creative-text {
        font-size: 20px;
    }
    .quote-creative-rating .icon {
        font-size: 24px;
    }
    * + .quote-creative-rating {
        margin-top: 18px;
    }
    .quote-creative-rating + .unit {
        margin-top: 35px;
    }
}

@media (min-width: 1200px) {
    .quote-creative {
        padding: 50px 50px 60px;
    }
    .quote-creative-text {
        font-size: 24px;
    }
}

.quote-minimal-text {
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
    letter-spacing: .02em;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.quote-minimal-figure img {
    border-radius: 50%;
}

.quote-minimal-author {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #151515;
}

.quote-minimal-status {
    font-style: italic;
    letter-spacing: .025em;
    color: #0473db;
}

* + .quote-minimal-author {
    margin-top: 20px;
}

@media (min-width: 768px) {
    .quote-minimal-text {
        font-size: 18px;
    }
}

.quote-carly {
    text-align: center;
}

.quote-carly-1 {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.quote-carly-text {
    position: relative;
    padding-top: 40px;
    font-size: 16px;
    line-height: 1.45;
    font-weight: 400;
    letter-spacing: .02em;
    font-family: "Comfortaa", cursive;
}

.quote-carly-text::before {
    position: absolute;
    top: 0;
    left: 50%;
    content: '\201C';
    font-size: 60px;
    line-height: 1.3;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0;
    font-family: "Comfortaa", cursive;
    color: rgba(4, 115, 219, 0.22);
    transform: translate3d(-50%, 0, 0);
}

.quote-carly-figure img {
    border-radius: 50%;
}

.quote-carly-author {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #151515;
}

.quote-carly-status {
    font-style: italic;
    letter-spacing: .025em;
    color: #0473db;
}

* + .quote-carly-footer {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #e1e1e1;
}

* + .quote-carly {
    margin-top: 20px;
}

@media (min-width: 768px) {
    .quote-carly {
        text-align: left;
    }
    .quote-carly-text {
        padding-top: 0;
        font-size: 22px;
    }
    .quote-carly-text::before {
        top: 6px;
        left: 0;
        font-size: 80px;
        transform: none;
    }
    .quote-carly-footer,
    .quote-carly-text {
        padding-left: 60px;
    }
    * + .quote-carly-footer {
        margin-top: 30px;
        padding-top: 30px;
    }
}

@media (min-width: 992px) {
    .quote-carly-footer,
    .quote-carly-text {
        padding-left: 68px;
    }
}
