.unit {
    display: flex;
    flex: 0 1 100%;
    margin-bottom: -10px;
    margin-left: -10px;
}

.unit > * {
    margin-bottom: 10px;
    margin-left: 10px;
}

.unit:empty {
    margin-bottom: 0;
    margin-left: 0;
}

.unit-body {
    flex: 0 1 auto;
}

.unit-left,
.unit-right {
    flex: 0 0 auto;
    max-width: 100%;
}

.unit-spacing-0 {
    margin-bottom: 0;
    margin-left: 0;
}

.unit-spacing-0 > * {
    margin-bottom: 0;
    margin-left: 0;
}

.unit-spacing-xs {
    margin-bottom: -20px;
    margin-left: -15px;
}

.unit-spacing-xs > * {
    margin-bottom: 20px;
    margin-left: 15px;
}

.unit-spacing-sm {
    margin-bottom: -10px;
    margin-left: -20px;
}

.unit-spacing-sm > * {
    margin-bottom: 10px;
    margin-left: 20px;
}

.unit-spacing-md {
    margin-bottom: -20px;
    margin-left: -25px;
}

.unit-spacing-md > * {
    margin-bottom: 20px;
    margin-left: 25px;
}

.unit-spacing-lg {
    margin-bottom: -20px;
    margin-left: -30px;
}

.unit-spacing-lg > * {
    margin-bottom: 20px;
    margin-left: 30px;
}

.unit-spacing-xl {
    margin-bottom: -30px;
    margin-left: -40px;
}

.unit-spacing-xl > * {
    margin-bottom: 30px;
    margin-left: 40px;
}
