body {
    text-align: center;
    font-size: 13px;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: .05em;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #777777;
    background-color: #ffffff;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: subpixel-antialiased;
}

@media (min-width: 768px) {
    body {
        font-size: 15px;
    }
}

h1, h2, h3, h4, h5, h6, [class^='heading-'] {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-family: "Comfortaa", cursive;
    letter-spacing: 0;
    color: #151515;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, [class^='heading-'] a {
    color: inherit;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, [class^='heading-'] a:hover {
    color: #0473db;
}

h1,
.heading-1 {
    font-size: 32px;
    line-height: 1.77419;
}

@media (min-width: 768px) {
    h1,
    .heading-1 {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    h1,
    .heading-1 {
        font-size: 50px;
    }
}

@media (min-width: 1200px) {
    h1,
    .heading-1 {
        font-size: 62px;
    }
}

h1,
.heading-1 {
    font-weight: 700;
    letter-spacing: -.02em;
}

h2,
.heading-2, .counter-classic-number .symbol {
    font-size: 26px;
    line-height: 1.12069;
}

@media (min-width: 768px) {
    h2,
    .heading-2, .counter-classic-number .symbol {
        font-size: 35px;
    }
}

@media (min-width: 992px) {
    h2,
    .heading-2, .counter-classic-number .symbol {
        font-size: 45px;
    }
}

@media (min-width: 1200px) {
    h2,
    .heading-2, .counter-classic-number .symbol {
        font-size: 58px;
    }
}

h3,
.heading-3, .event-classic-date {
    font-size: 22px;
    line-height: 1.09091;
}

@media (min-width: 768px) {
    h3,
    .heading-3, .event-classic-date {
        font-size: 26px;
    }
}

@media (min-width: 992px) {
    h3,
    .heading-3, .event-classic-date {
        font-size: 30px;
    }
}

@media (min-width: 1200px) {
    h3,
    .heading-3, .event-classic-date {
        font-size: 44px;
    }
}

h4,
.heading-4, .quote-classic-text, .event-classic-month {
    font-size: 18px;
    line-height: 1.38462;
}

@media (min-width: 768px) {
    h4,
    .heading-4, .quote-classic-text, .event-classic-month {
        font-size: 20px;
    }
}

@media (min-width: 992px) {
    h4,
    .heading-4, .quote-classic-text, .event-classic-month {
        font-size: 22px;
    }
}

@media (min-width: 1200px) {
    h4,
    .heading-4, .quote-classic-text, .event-classic-month {
        font-size: 26px;
    }
}

h4,
.heading-4 {
    font-weight: 700;
    letter-spacing: .02em;
}

h5,
.heading-5, .heading-7, .product-dawn-price, .event-classic-hours {
    font-size: 16px;
    line-height: 1.36364;
}

@media (min-width: 768px) {
    h5,
    .heading-5, .heading-7, .product-dawn-price, .event-classic-hours {
        font-size: 22px;
    }
}

h5,
.heading-5 {
    text-transform: none;
}

h6,
.heading-6 {
    font-size: 14px;
    line-height: 1.55556;
}

@media (min-width: 768px) {
    h6,
    .heading-6 {
        font-size: 18px;
    }
}

h6,
.heading-6 {
    letter-spacing: .075em;
    text-transform: none;
}

.heading-7 {
    font-weight: 400;
    letter-spacing: .1em;
    color: inherit;
}

small,
.small {
    display: block;
    font-size: 12px;
    line-height: 1.5;
}

mark,
.mark {
    padding: 3px 5px;
    color: #ffffff;
    background: #0473db;
}

.big {
    font-size: 16px;
    line-height: 1.66667;
    letter-spacing: .05em;
}

@media (min-width: 768px) {
    .big {
        font-size: 18px;
    }
}

.lead {
    font-size: 24px;
    line-height: 34px;
    font-weight: 300;
}

code {
    padding: 10px 5px;
    border-radius: 0.2rem;
    font-size: 90%;
    color: #111111;
    background: #e1e1e1;
}

p [data-toggle='tooltip'] {
    padding-left: .25em;
    padding-right: .25em;
    color: #0473db;
}

p [style*='max-width'] {
    display: inline-block;
}

::selection {
    background: #0473db;
    color: #ffffff;
}

::-moz-selection {
    background: #0473db;
    color: #ffffff;
}

.font-base {
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.font-sec {
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.font-fourth {
    font-family: "Open Sans", sans-serif;
}

.text-opacity-70 {
    opacity: .7;
}

.lh-1 {
    line-height: 30px;
}
