name: Деплой на дев сервер

on:
  push:
    branches:
      - dev  # Запускать при пуше в ветку dev

jobs:
  deploy:
    uses: ./.github/workflows/deploy-reusable.yml
    with:
      ssh_host: 83.142.160.165
      ssh_port: 2622
      ssh_user: aquastyle
      project_dir: aquastyle-dev
      archive_name: dev_archive.zip
    secrets:
      SSH_DEPLOY_KEY: ${{ secrets.SSH_DEPLOY_KEY }}
