name: Деплой на прод сервер

on:
  push:
    branches:
      - main  # Запускать при пуше в ветку main

jobs:
  deploy:
    uses: ./.github/workflows/deploy-reusable.yml
    with:
      ssh_host: 83.142.160.165
      ssh_port: 2622
      ssh_user: aquastyle
      project_dir: aquastyle-prod
      archive_name: prod_archive.zip
    secrets:
      SSH_DEPLOY_KEY: ${{ secrets.SSH_DEPLOY_KEY }}
