name: Деплой на прод сервер

on:
  push:
    branches:
      - main  # Запускать при пуше в ветку main1

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Архивация репозитория
        run: "zip -r prod_archive.zip ./ -x *.git* -x /storage/*"
      - name: Создание SSH ключа
        run: |
          echo "${{ secrets.SSH_DEPLOY_KEY }}" > private_key
          chmod 600 private_key
      - name: Копирование проекта на сервер
        run: |
          scp -P 2622 -i private_key -o StrictHostKeyChecking=no prod_archive.zip \
          aquastyle@83.142.160.165:~/aquastyle74.ru/
      - name: Распаковка проекта
        run: |
          ssh -p 2622 -i private_key -o StrictHostKeyChecking=no aquastyle@83.142.160.165 '
            # Создаем новую директорию для развертывания
            mkdir -p ~/aquastyle74.ru/www_new
            cd ~/aquastyle74.ru/www_new

            # Распаковываем архив и удаляем его
            unzip ~/aquastyle74.ru/prod_archive.zip
            rm ~/aquastyle74.ru/prod_archive.zip

            # Настраиваем окружение
            mv .env.prod .env
            echo "DB_DATABASE=${{ secrets.DB_DATABASE }}" >> .env
            echo "DB_USERNAME=${{ secrets.DB_USERNAME }}" >> .env
            echo "DB_PASSWORD=${{ secrets.DB_PASSWORD }}" >> .env
            echo "APP_KEY=${{ secrets.APP_KEY }}" >> .env

            # Останавливаем контейнер и удаляем папку со старой версией
            cd ~/aquastyle74.ru/www
            docker-compose down --remove-orphans
            mv storage ../storage
            rm -rf ~/aquastyle74.ru/www

            # Переименовываем папку с новой версией и поднимаем контейнер
            mv ~/aquastyle74.ru/www_new ~/aquastyle74.ru/www
            cd ~/aquastyle74.ru/www
            mv ../storage storage
            mv -f docker-compose.prod.yml docker-compose.yml
            mv -f .docker/nginx/nginx.prod.conf .docker/nginx/nginx.conf
            docker compose up --build -d

            # Устанавливаем зависимости и выполняем миграции
            docker exec -i aquastyle-php-fpm-prod composer install
            docker exec -i aquastyle-php-fpm-prod php artisan migrate --force

            # Настраиваем хранилище и очищаем кеш
            docker exec -i aquastyle-php-fpm-prod php artisan storage:link
            docker exec -i aquastyle-php-fpm-prod php artisan config:cache

            # Билдим фронтенд
            docker compose run --rm nodejs
          '
